nav {
  height: 100%;
}
.navigation-links {
  margin: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.navigation-links__link {
  display: inline-flex;
  margin: 0;
  margin-right: 1rem;
  height: 100%;
  color: #1EAEDB;
  cursor: pointer;

  & p {
    text-decoration: none;
    margin: auto;
  }

  &--active, &:hover {
    border-bottom: 2px solid hsla(194, 86%, 57%, 1);
  }
}
