.navigation-links {
  display: flex;
  margin: 0;
  list-style-type: none;
  height: 100%;
}

.navigation-links__link {
  display: inline-flex;
  margin: 0;
  height: 100%;

  & a {
    margin: auto;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 2px solid hsla(194, 86%, 57%, 1);
  }
}
